html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Alata', sans-serif;
  color: #3d6098;
}
h1 {
  font-family: 'Yellowtail', cursive;
  color: white;
  font-size: 6rem;
}
@media (max-width: 500px) {
  h1 {
    font-size: 5rem;
  }
}
h2,
h3,
h4,
h5 {
  font-family: 'Yellowtail', cursive;
  color: #213159;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 2rem;
  line-height: 1.5;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
nav {
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(90deg, #3d6098 0%, #00d4ff 100%);
  justify-content: space-around;
  align-items: center;
}
nav .logo {
  width: 15%;
  padding: 1%;
}
@media (max-width: 500px) {
  nav .logo {
    width: 100%;
    padding: 2%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
nav .links {
  width: 30%;
  text-align: right;
}
nav .links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 3% 5.5%;
  font-size: 1.9rem;
  position: relative;
  z-index: 0;
  cursor: pointer;
}
nav .links a:before,
nav .links a:after {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #FFF;
  content: "";
  opacity: 0;
  transition: all 0.3s;
}
nav .links a:before {
  top: 0px;
  transform: translateY(10px);
}
nav .links a:after {
  bottom: 0px;
  transform: translateY(-10px);
}
nav .links a:hover:before,
nav .links a:hover:after {
  opacity: 1;
  transform: translateY(0px);
}
@media (max-width: 500px) {
  nav .links {
    width: 100%;
    justify-content: space-around;
    text-align: center;
    padding: 1%;
  }
}
footer {
  display: flex;
  flex-wrap: wrap;
  background-color: #213159;
  justify-content: center;
  align-items: center;
}
footer .foot-logo {
  width: 10%;
  padding: 1%;
  justify-content: flex-end;
}
footer .foot-logo h2 {
  color: #e7e7e7;
}
@media (max-width: 500px) {
  footer .foot-logo {
    padding: 1%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
}
footer .links {
  width: 30%;
}
footer .links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 3% 5.5%;
  font-size: 1.9rem;
}
@media (max-width: 500px) {
  footer .links {
    width: 100%;
    justify-content: space-around;
    text-align: center;
    padding: 2%;
  }
}
.header {
  margin-bottom: 2%;
}
.header .main-header {
  width: 100%;
  opacity: 100%;
}
.header .over-img {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  .header .over-img {
    position: absolute;
    top: 35%;
    left: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
  }
}
.header .over-img .header-text {
  font-family: 'Alata', sans-serif;
  font-size: 7rem;
  color: white;
}
@media (max-width: 500px) {
  .header .over-img .header-text {
    font-size: 3rem;
  }
}
.header .over-img .make-text {
  font-size: 10rem;
  color: white;
}
@media (max-width: 500px) {
  .header .over-img .make-text {
    font-size: 4rem;
  }
}
.header .over-img button {
  padding: 1rem 10rem;
  border: none;
  margin: 2rem 0rem;
  border-radius: 1rem;
  background: #f04b4c;
  font-size: 3rem;
  font-family: 'Alata', sans-serif;
  color: white;
}
@media (max-width: 500px) {
  .header .over-img button {
    padding: 1rem 5rem;
    font-size: 1.8rem;
    margin: 1rem;
  }
}
.section-one {
  background-color: #e7e7e7;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .section-one {
    flex-direction: column;
  }
}
.section-one .section-one-img {
  width: 40%;
  order: -1;
  padding: 10rem 8rem;
}
@media (max-width: 500px) {
  .section-one .section-one-img {
    width: 50%;
    margin: 0;
    padding: 2rem;
  }
}
.section-one .one-text {
  width: 40%;
  text-align: right;
  padding: 4%;
  margin: auto;
}
@media (max-width: 500px) {
  .section-one .one-text {
    width: 90%;
    text-align: center;
  }
}
.section-one .one-text h4 {
  padding: 4% 0%;
  font-family: 'Alata', sans-serif;
}
@media (max-width: 500px) {
  .section-one .one-text h4 {
    font-size: 1.8rem;
  }
}
.section-two .how {
  text-align: center;
  padding: 2%;
  font-size: 5rem;
}
.section-two .boxes {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  font-size: 2rem;
  margin-bottom: 2%;
}
@media (max-width: 500px) {
  .section-two .boxes {
    width: 100%;
    flex-direction: column;
  }
}
.section-two .boxes .box1 {
  width: 30%;
  padding: 5%;
  background-color: #213159;
  align-items: center;
  color: white;
  text-align: center;
}
@media (max-width: 500px) {
  .section-two .boxes .box1 {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}
.section-two .boxes .box1 h2 {
  background-color: white;
  padding: 1rem;
  font-size: 5rem;
  text-align: center;
  border-radius: 20rem;
}
@media (max-width: 500px) {
  .section-two .boxes .box1 h2 {
    font-size: 4rem;
    padding: 0.5rem;
    width: 100%;
  }
}
.section-two .boxes .box1 img {
  width: 100%;
}
@mobile (max-width: 500px) {
  display: none;
}
.section-two .boxes .box1 p {
  padding: 4rem;
}
.section-two .boxes .box2 {
  width: 30%;
  padding: 5%;
  background-color: #f04b4c;
  text-align: center;
  color: white;
}
@media (max-width: 500px) {
  .section-two .boxes .box2 {
    width: 90%;
    margin: 0 auto;
  }
}
.section-two .boxes .box2 h2 {
  background-color: white;
  padding: 1rem;
  font-size: 5rem;
  text-align: center;
  border-radius: 20rem;
}
@media (max-width: 500px) {
  .section-two .boxes .box2 h2 {
    font-size: 4rem;
    padding: 0.5rem;
    width: 100%;
  }
}
.section-two .boxes .box2 img {
  width: 100%;
}
@mobile (max-width: 500px) {
  display: none;
}
.section-two .boxes .box2 p {
  padding: 4rem;
}
.section-two .boxes .box3 {
  width: 30%;
  padding: 5%;
  background-color: #d5e7f5;
  text-align: center;
  color: white;
}
@media (max-width: 500px) {
  .section-two .boxes .box3 {
    width: 90%;
    margin: 0 auto;
    justify-content: center;
  }
}
.section-two .boxes .box3 h2 {
  background-color: white;
  padding: 1rem;
  font-size: 5rem;
  text-align: center;
  border-radius: 20rem;
}
@media (max-width: 500px) {
  .section-two .boxes .box3 h2 {
    font-size: 4rem;
    padding: 0.5rem;
    width: 100%;
  }
}
.section-two .boxes .box3 img {
  width: 100%;
}
@mobile (max-width: 500px) {
  display: none;
}
.section-two .boxes .box3 p {
  padding: 4rem;
}
