// footer {
//     color: #22283B;
//     background: #f4f4f4;
//     padding: 20px 0;
//     border: 1px double #e0e0e0;
//     border-radius: 10px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// Navigation code here
footer{
    display:flex;
    flex-wrap: wrap;
    // margin: 0 auto;
    background-color:@footer-background;
    justify-content: center;
    align-items: center;
    padding:4rem;
    
	.foot-logo{
        width:20%;
        font-size:20rem;
        padding:0% 1%;
        justify-content:flex-end;
        text-align:center;

        h2{
            background:linear-gradient(90deg, rgba(154,240,222,1) 35%, rgba(96,214,171,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        @media @phone{
            padding:1%;
            justify-content:center;
            align-items:center;
            text-align:center;
            width:100%;
        }
	}

	.links{
        // padding:1%;
        width:100rem;
        // text-align:center;
        
		a{
			text-decoration:none;
			color:white;
            padding: 0% 4%;
            font-size:1.9rem;
            position: relative;
            z-index: 0;
            cursor: pointer;
        }
        
        a:before,a:after
        {
            position: absolute;
            left: 0px;
            width: 100%;
            height: 2px;
            background: #FFF;
            content: "";
            opacity: 0;
            transition: all 0.3s;
        }

        a:before
        {
            top: 0px;
            transform: translateY(10px);
        }
        a:after
        {
            bottom: 0px;
            transform: translateY(-10px);
        }
        a:hover:before,a:hover:after
        {
            opacity: 1;
            transform: translateY(0px);
        }

        @media @phone{
            width:100%;
            justify-content:space-around;
            text-align:center;
            padding:2%;
        }
	}
}