



// .home {
.header{
    margin-bottom:2%;
    // width:100%;
    // background: url(../img/kid.jpg) center center cover no-repeat fixed;
    .main-header{
        width:100%;
        opacity:100%;
        // position:absolute;
        // background-attachment:fixed;
        // background-size:cover;
        // background-repeat:no-repeat;
        // background-position:center center;
        // background-color: @turq;
    }

    // background{
    //     background-image: url("..img/handsbluevivid.jpg");
    //     background-repeat: no-repeat;
    //     background-attachment: fixed;
    // }

    .over-img{
    position:absolute;
    top:50%;
    left:75%;
    transform: translate(-50%, -50%);

    @media @phone{
        position:absolute;
        top:35%;
        left:50%;
        text-align:center;
        align-items:center;
        justify-content:center;
        transform: translate(-50%, -50%);
    }

        .header-text{
            font-family: 'Alata', sans-serif;
            font-size: 7rem;
            color:white;

        @media @phone{
            font-size:3rem;
        }
        }

        .make-text{
            font-size:10rem;
            color: white;

            @media @phone{
                font-size:4rem;
            }
        }

        button{
            padding:1rem 10rem;
            border:none;
            margin: 2rem 0rem;
            border-radius: 1rem;
            background: @salmon;
            font-size:3rem;
            font-family: 'Alata', sans-serif;
            color:white;

            @media @phone{
                padding:1rem 5rem;
                font-size:1.8rem;
                margin:1rem;
            }
        }
    }
}

.section-one{
    // display:flex;
    background-color:@clean;
    justify-content:center;
    display:flex;
    flex-wrap: wrap;
    // margin: 0 auto;
    align-items: center;
    margin-bottom:2%;

    @media @phone{
        flex-direction:column;
    }
    

    .section-one-img{
        width:40%;
        order:-1;
        padding:10rem 8rem;
        
        @media @phone{
            width:50%;
            margin: 0;
            padding:2rem;
            // .display();
        }
    }

    .one-text{
        width:40%;
        text-align:right;
        padding:4%;
        margin:auto;

        @media @phone{
            width:90%;
            text-align:center;
        }

        h4{
            padding:4% 0%;
            font-family: 'Alata', sans-serif;

            @media @phone{
                font-size:1.8rem;
            }
        }
}
    }
.section-two{
    .how{
        text-align:center;
        padding:2%;
        font-size:5rem;
    }

        .boxes{
        display:flex;
        width:90%;
        flex-wrap:wrap;
        justify-content:space-around;
        margin: 0 auto;
        font-size:2rem;
        margin-bottom:2%;

        @media @phone{
            width:100%;
            flex-direction:column;

        }

        .box1{
            width:30%;
            padding:5%;
            background-color:@violet;
            align-items:center;
            color:white;
            text-align:center;

            @media @phone{
                width:90%;
                margin: 0 auto;
                justify-content:center;
                align-items:center;
            }

            h2{
                background-color:white;
                padding:1rem;
                font-size:5rem;
                text-align:center;
                border-radius:20rem;

                @media @phone{
                    font-size:4rem;
                    padding:.5rem;
                    width:100%;
                }
            }

            img{
                width:100%;

                @mobile @phone{
                    .display();
                }

            }

            p{
                padding:4rem;
            }
        }

        .box2{
            width:30%;
            padding:5%;
            background-color:@salmon;
            text-align:center;
            color:white;

            @media @phone{
                width:90%;
                margin: 0 auto;
            }

            h2{
                background-color:white;
                padding:1rem;
                font-size:5rem;
                text-align:center;
                border-radius:20rem;

                @media @phone{
                    font-size:4rem;
                    padding:.5rem;
                    width:100%;
                }
            }

            img{
                width:100%;

                @mobile @phone{
                    .display();
                }

            }

            p{
                padding:4rem;
            }
        }

        .box3{
            width:30%;
            padding:5%;
            background-color:@sunshine;
            text-align:center;
            color:white;

            @media @phone{
                width:90%;
                margin: 0 auto;
                justify-content:center;
            }

            h2{
                background-color:white;
                padding:1rem;
                font-size:5rem;
                text-align:center;
                border-radius:20rem;

                @media @phone{
                    font-size:4rem;
                    padding:.5rem;
                    width:100%;
                }
            }

            img{
                width:100%;

                @mobile @phone{
                    .display();
                }

            }

            p{
                padding:4rem;
            }
        }
    }
}