// Navigation code here
nav{
    display:flex;
    flex-wrap: wrap;
    // margin: 0 auto;
    background-color:@nav-bg;
    justify-content: space-between;
    align-items: center;
    
	.logo{
        width:40%;
        padding:1%;

        @media @phone{
            width:100%;
            padding:2%;
            flex-wrap:wrap;
            justify-content:center;
            align-items:center;
            text-align:center;
        }
	}

	.links{
        // padding:1%;
        width:60%;
        text-align:right;
        
		a{
			text-decoration:none;
			color:white;
			font-size: 1rem;
            padding: 3% 5.5%;
            font-size:1.9rem;
        }
        a:hover{
            background-color:@violet;
        }
        
        @media @phone{
            width:100%;
            justify-content:space-around;
            text-align:center;
            padding:1%;
        }
	}
}