// Variables

// Color pointers
@nav-bg: @salmon;
@nav-font: @avenir-bold;


@header-font-color: @violet;
@main-font-color: @turq;
// @main-border-color: @border-real;

@footer-background: @violet;
@footer-font-color: @sunshine;

// Color Vars
@salmon: #f04c25;
@violet: #404265;
@turq: #4abdac;
@esunshine: #f7b733;
@clean: #dfdce3;


// Mobile var
//ESCAPE-------------
@phone: ~"(max-width: 500px)";
//-------------------
